@font-face {
  font-family: 'Nexa Bold';
  src: url('nexademo-bold-webfont.woff') format('woff'),
    url('nexademo-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'Nexa Light';
  src: url('nexademo-light-webfont.woff') format('woff'),
    url('nexademo-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  background-color: #282c34;
  color: #f8f8ff;
  padding: 0;
  margin: 0;
  font-family: Nexa Light, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Nexa Bold", sans-serif;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

.nasa-logo {
  margin: 10px;
  height: 70px;
}

.description {
  max-width: 600px;
  margin: 20px 30px 50px;
  height: auto;
  text-align: left;
  font-size: 1.1rem;
  font-family: 'Nexa Light', sans-serif;
  font-weight: 200;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.description2 {
  height: auto;
  font-family: 'nexa_demolight', sans-serif;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 200;
  margin: 30px;
}

.App {
  background-color: #282c34;
  margin: 0;
  height: auto;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1a1d24;
  border-radius: .5rem;
  padding: 50px 0;
}

.header {
  margin-bottom: auto;
  width: 100%;
  background-color: transparent;
  color: white;
  display: block;
}

.footer {
  margin-top: auto;
  bottom: 0;
  padding: .1rem;
  width: 100%;
  background-color: #1a1d24;
  color: white;
}

.footer p {
  text-align: center;
  opacity: 50%;
  font-size: .7rem;
}

.content {
  color: white;
  max-width: 500px;
  height: auto;
}

.content h2 {
  font-size: 1.9rem;
  margin-top: 0;
}

#image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: .3rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  display: block;
  background-color: #3c3f43;
  margin: auto 10px;
  height: 50px;
  width: 225px;
  border-radius: .3rem;
  border: #1a1d24;
  color: #fdfdfd;
  font-size: 1.2rem;
}

.rbtn {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  background-color: #3c3f43;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: #1a1d24;
  color: #fdfdfd;
}

.rbtn:hover {
  background-color: #1a1d24;
  border: solid .5px white;
}

.btn:hover {
  background-color: #1a1d24;
  border: solid .5px white;
}

.btn2 {
  display: none;
}

.content h6 {
  margin: 5px;
}


@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    border-radius: 0;
  }

  .content {
    width: 100%;
  }

}


.App-logo {
  height: 60vmin;
  max-height: 500px;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  opacity: 40%;
}

.App-logo-2 {
  height: 60vmin;
  max-height: 500px;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  opacity: 40%;

}

.subheading {
  font-family: "Nexa Light", sans-serif;
  z-index: 1;
  text-transform: lowercase;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 13s linear;
  }
}

.App-header {
  background-color: #282c34;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fourth-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
}

.fourth-container div {
  margin-top: 30px;
}

.dev-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
}

.cta {
  margin: 0 50px;
  text-transform: uppercase;
  font-family: "Nexa Bold", sans-serif;
  font-size: 8vw;
  z-index: 3;
}

.ctabtn {
  z-index: 3;
  height: 60px;
  width: 180px;
  margin: 10px 15px;
  display: inline-block;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: inherit;
  border: solid 2px white;
  border-radius: 15px;
  font-family: "Nexa Light", sans-serif;
  color: white;
}

.ctabtndiv {
  display: flex;
  padding: 40px 0;
  margin-bottom: -90px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 350px) {
  .btn {
    width: 100%;
    border-radius: 0;
  }
}