.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  height: auto;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: #fafafa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
  background-color: #15181D;
  color: white;
  font-family: "Nexa Light", sans-serif;
  text-align: center;
  flex: 1;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 11px;
  text-transform: uppercase;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  font-family: "Nexa Bold", sans-serif;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  z-index: 1;
  margin: 1rem;
  background-color: #3d434f;
  padding: 1.5rem;
  height: 185px;
  font-family: "Nexa Light", sans-serif;
  text-transform: lowercase;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}


.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: "Nexa Bold", sans-serif;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}